/**
  Here we store only variables relevant for grid layout

 (i) content lentgths are deined in _content.scss
*/

$grid-gutter-size: 8px;

// Global gap lengths
$length-gap-huge: 48px;
$length-gap-large: 32px;
$length-gap-medium: 24px;
$length-gap-small: 16px;
$length-gap-mini: 8px;
$length-gap-tiny: 4px;
$length-gap-micro: 2px;

