<h2 class="modal-header">Planet hinzufügen</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-field">
        <app-form-input-text
          [label]="'Name'"
          [placeholder]="'Name eingeben'"
          [formControl]="form.get('name')"
          [error]="getNameError()"
        ></app-form-input-text>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-field">
        <app-form-input-select
          [placeholder]="'Type'"
          [formControl]="form.get('terrain')"
          [options]="terrains"
        ></app-form-input-select>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="form-field">
        <app-form-input-text
          [label]="'Climate'"
          [placeholder]="'climate'"
          [formControl]="form.get('climate')"
          [error]=""
        ></app-form-input-text>
      </div>
    </div>
  </div>
  <div class="button-group">
    <button type="button" class="btn btn-default" (click)="close.emit($event)">
      Abbrechen
    </button>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
      Planet hinzufügen
    </button>
  </div>
</form>
