/**
  * This is for the general layout of the homepage
 */

.module-container {
  height: calc(100vh - (#{$nav-height-desktop} + #{$footer-height-mobile}));
  overflow-y: scroll;

  @media (min-width: $breakpoint-tablet-portrait) {
    height: calc(100vh - (#{$nav-height-desktop} + #{$footer-height-desktop}));
  }
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 $length-gap-mini;
}
